{
  "SegmentLeaderboard": {
    "type": "object",
    "description": "A",
    "properties": {
      "entry_count": {
        "type": "integer",
        "description": "The total number of entries for this leaderboard",
        "example": "1993"
      },
      "effort_count": {
        "type": "integer",
        "description": "Deprecated, use entry_count",
        "example": "1993"
      },
      "kom_type": {
        "type": "string",
        "enum": ["kom", "cr"]
      },
      "entries": {
        "type": "array",
        "items": {
          "$ref": "{{reference_prefix}}/segment_leaderboard.json#/SegmentLeaderboardEntry"
        }
      }
    }
  },
  "SegmentLeaderboardEntry": {
    "type": "object",
    "description": "A row in a segment leaderboard",
    "properties": {
      "athlete_name": {
        "type": "string",
        "description": "The public name of the athlete",
        "example": "P. Sagan"
      },
      "elapsed_time": {
        "type": "integer",
        "description": "The elapsed of the segment effort associated with this entry",
        "example": "100"
      },
      "moving_time": {
        "type": "integer",
        "description": "The moving of the segment effort associated with this entry",
        "example": "80"
      },
      "start_date": {
        "type": "string",
        "format": "date-time",
        "description": "The time at which the effort was started."
      },
      "start_date_local": {
        "type": "string",
        "format": "date-time",
        "description": "The time at which the effort was started in the local timezone."
      },
      "rank": {
        "type": "integer",
        "description": "The rank of this entry in the leaderboard"
      }
    }
  }
}
