$ http <span style="text-transform: uppercase;">{{httpMethod}}</span> "{{basePath}}{{path}}{{#hasQueryParams}}?{{#queryParams}}{{^-first}}&{{/-first}}{{baseName}}={{vendorExtensions.x-eg}}{{/queryParams}}{{/hasQueryParams}}" {{#hasFormParams}}{{#formParams}}{{#isFile}}{{baseName}}@/path/to/file {{/isFile}}{{^isFile}}{{baseName}}='value' {{/isFile}}{{/formParams}}{{/hasFormParams}}"Authorization: Bearer [[token]]"
