<tr>
  <td width="200px">
    <span class="parameter-name">{{baseName}}</span></br>
    <span class="parameter-description">{{complexType}}</span>
  </td>
  <td>
    {{#description}}
      {{.}}{{#isEnum}} May take one of the following values: {{#_enum}}<code>{{.}}</code>{{^-last}}, {{/-last}}{{/_enum}}{{/isEnum}}
    {{/description}}
    {{^description}}
      {{#isEnum}}
        May take one of the following values: {{#_enum}}<code>{{.}}</code>{{^-last}}, {{/-last}}{{/_enum}}
      {{/isEnum}}
      {{^isEnum}}
        {{#isListContainer}}
          A collection of <a href="#api-models-{{complexType}}">{{complexType}}</a> objects.
        {{/isListContainer}}
        {{^isListContainer}}
          An instance of <a href="#api-models-{{complexType}}">{{complexType}}</a>.
        {{/isListContainer}}
      {{/isEnum}}
    {{/description}}
  </td>
</tr>
