<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Strava Developers</title>
	<link rel='icon' type='image/png' href="/images/favicon-32x32.png" sizes='32x32'>
	<link rel='icon' type='image/png' href="/images/favicon-96x96.png" sizes='96x96'>
	<link rel='icon' type='image/png' href="/images/favicon-16x16.png" sizes='16x16'>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/tether.min.css" rel="stylesheet">
    <link href="/strava-developers.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro|Roboto+Slab|Roboto+Condensed" rel="stylesheet">
    {{ if isset .Params "styles" }}{{ range .Params.styles }}<link rel="stylesheet" href="{{ printf "/%s" .}}">{{ end }}{{ end }}
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class='container'>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class='strava-logo'>Strava</span>
          Developers <sup>(β)</sup>
        </a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API Documentation</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/docs">Home</a>
                <a class="dropdown-item" href="/docs/reference">Reference</a>
                <a class="dropdown-item" href="/docs/authentication">Authentication</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Libraries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/playground">Playground</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
