<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Strava Developers</title>
	<link rel='icon' type='image/png' href="/images/favicon-32x32.png" sizes='32x32'>
	<link rel='icon' type='image/png' href="/images/favicon-96x96.png" sizes='96x96'>
	<link rel='icon' type='image/png' href="/images/favicon-16x16.png" sizes='16x16'>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/tether.min.css" rel="stylesheet">
    <link href="/strava-developers.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
    {{ if isset .Params "styles" }}{{ range .Params.styles }}<link rel="stylesheet" href="{{ printf "/%s" .}}">{{ end }}{{ end }}
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class='container'>
        <a class="navbar-brand" href="/">
          <span class='strava-logo'><img src="/images/strava_logo_nav.png" alt="Strava"></span> <span class='strava-subbranding'>Developers</span>
        </a>
      </div>
    </nav>
