{{ partial "header.html" . }}
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Welcome Developers</h1>
      <p>Strava athletes upload millions of activities every day. This rich data set yields diverse opportunities for developers, from creating new hardware to augmenting the Strava experience.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="http://labs.strava.com/assets/img/tile-heatmap1415.png" alt="Your Application" />
          <div class="card-block">
            <h3 class="card-title">Your Application</h3>
            <p class="card-text">Register or edit the details of your Strava application.</p>
            <a href="https://www.strava.com/settings/api" class="btn btn-secondary">Register or Manage</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="http://labs.strava.com/assets/img/tile-heatmap1415.png" alt="API Documentation">
          <div class="card-block">
            <h3 class="card-title">API Documentation</h3>
            <p class="card-text">Access the documentation for the Strava API.</p>
            <a href="/docs/reference" class="btn btn-secondary">Read The Docs</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="http://labs.strava.com/assets/img/tile-heatmap1415.png" alt="Client Libraries">
          <div class="card-block">
            <h3 class="card-title">Client Libraries</h3>
            <p class="card-text">View the libraries you can leverage to easily integrate Strava data in your app.</p>
            <a href="#" class="btn btn-secondary btn-disabled" disabled="disabled">Coming Soon</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><a href="https://www.strava.com/apps">App Showcase</a></h4>
            <p class="card-text">Check out what other developers are building with the Strava API.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><a href="/guidelines/">Brand Guidelines</a></h4>
            <p class="card-text">Read the guidelines for crediting Strava as a source of data in your app.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><a href="https://www.strava.com/api-agreement">Terms of Service</a></h4>
            <p class="card-text">Read'em.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{ partial "footer.html" . }}
