{{ partial "header.html" . }}
  <div class="hero">
    <div class="jumbotron">
      <div class="container">
        <div class='display-3'>
          <p>Strava athletes upload millions of activities every day</p>
          <h2>Our open API and this rich data set yield diverse opportunities for developers, from creating new hardware to augmenting the Strava experience.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Documentation</h3>
            <p class="card-text">Access the documentation.</p>
            <a href="/docs/reference" class="btn btn-primary">Learn</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Playground</h3>
            <p class="card-text">Try the API the easy way.</p>
            <a href="/playground" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Your App</h3>
            <p class="card-text">Register or edit the details of your app.</p>
            <a href="https://www.strava.com/settings/api" class="btn btn-primary">Create/Manage</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Activity Webhook Events</h3>
            <p class="card-text">Receive real-time activity updates.</p>
            <a href="/docs/webhooks" class="btn btn-primary">Upgrade</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Agreement and Brand Guidelines</h3>
            <p class="card-text">To use the Strava API, you need to comply with the Strava API Agreement and the Brand Guidelines. Mandatory logos, linking and attribution rules can also be found in the guidelines.</p>
            <a href="https://www.strava.com/legal/api" class="btn btn-primary">Agreement</a> <a href="/guidelines" class="btn btn-primary">Guidelines</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">App Directory</h3>
            <p class="card-text">See what other apps developers have built.</p>
            <a href="https://www.strava.com/apps" class="btn btn-primary">Browse</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">@StravaEng</h3>
            <p class="card-text">Read what we're up to or join the team.</p>
            <a href="https://medium.com/strava-engineering" class="btn btn-primary">Blog</a> <a href="https://www.strava.com/careers" class="btn btn-primary">Careers</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Mailing List</h3>
            <p class="card-text">Talk to other Strava developers.</p>
            <a href="https://groups.google.com/forum/#!forum/strava-api" class="btn btn-primary">Join</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Changelog</h3>
            <p class="card-text">Keep up to date with the latest API changes.</p>
            <a href="/docs/changelog" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Old Docs</h3>
            <p class="card-text">In case you can't find something that hasn't been moved over yet. (β)</p>
            <a href="https://strava.github.io/api/" class="btn btn-primary">Find</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Rate Limiting</h3>
            <p class="card-text">Understand the rules for usage.</p>
            <a href="/docs/rate-limiting" class="btn btn-primary">Review</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Uploads API</h3>
            <p class="card-text">Understand the rules for usage.</p>
            <a href="/docs/uploads" class="btn btn-primary">Know</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{ partial "footer.html" . }}
