/* ------------------------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------------------------ */
body {
  min-width: 980px;
  padding-top: 0;
}

.container-fluid.reference {
  margin-top: 54px;
}

* {
	box-sizing: border-box;
}

.row:before, .row:after {
	content: '';
	display: block;
	clear: both;
}

.row .col-md-6 {
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.left-pane {
  padding-bottom: 25px;
}

.right-pane {
	background-color: #333;
	color: #fff;
}

body, p, a, div, th, td {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: none !important;
}

td.code {
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 400;
}

#content {
  z-Index: -1;
  margin-left: 270px;
}

p {
  color: #808080;
}

h1 {
  font-weight: normal;
  font-size: 44px;
  line-height: 50px;
  margin: 10px 0 10px 0;
  padding: 0;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 20px 0;
  padding: 0;
}

section {
  border-top: 1px solid #ebebeb;
  padding: 30px 0;
}

section h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 14px;
  margin: 0;
  padding: 0;
}

article {
  padding: 14px 0 30px 0;
}

article h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

article h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0 10px 0;
}

article h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

article h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: 700;
  padding: 4px 8px;
  border: #e0e0e0 1px solid;
}

td {
  vertical-align: top;
  padding: 2px 8px;
  border: #e0e0e0 1px solid;
}

#generator .content {
  color: #b0b0b0;
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
}

.label-optional {
  float: right;
}

.open-left {
  right: 0;
  left: auto;
}

/* ------------------------------------------------------------------------------------------
 * pre / code
 * ------------------------------------------------------------------------------------------ */
pre {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  position: relative;
  margin: 10px 0 20px 0;
  border: none;
}

code.language-text {
  word-wrap: break-word;
}

pre.language-json {
  overflow: auto;
}

pre.language-html {
  margin: 40px 0 20px 0;
}

pre.language-html:before {
  content: attr(data-type);
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 2px 5px;
  text-transform: uppercase;
  background-color: #3387CC;
  color: #ffffff;
}

pre.language-html[data-type="get"]:before {
  background-color: green;
}

pre.language-html[data-type="put"]:before {
  background-color: #e5c500;
}

pre.language-html[data-type="post"]:before {
  background-color: #4070ec;
}

pre.language-html[data-type="delete"]:before {
  background-color: #ed0039;
}

pre.language-api .str {
  color: #ffffff;
}

pre.language-api .pln,
pre.language-api .pun {
  color: #65B042;
}

pre code {
  display: block;
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 400;
}

pre code.sample-request-response-json {
  white-space: pre-wrap;
  max-height: 500px;
  overflow: auto;
}

/* ------------------------------------------------------------------------------------------
 * Sidenav
 * ------------------------------------------------------------------------------------------ */

.sidenav {
  position: fixed;
  width: 228px;
}

.navbar-fixed-side .navbar-nav .dropdown-menu {
  padding-left: 14px;
}

.navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
  border-left: thick transparent solid;
}

.navbar-fixed-side .navbar-nav .dropdown-menu {
  padding-left: 14px;
  border-bottom: none;
}

.navbar-fixed-side .navbar-nav > li > a:hover,
.navbar-fixed-side .navbar-nav > li > a:focus,
.navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
.navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
  background-color: white;
  border-left: thick solid rgb(252,76,2);
  color: #333;
  text-decoration: none;
}

.navbar-fixed-side .navbar-nav .dropdown-menu > .active > a,
.navbar-fixed-side .navbar-nav .dropdown-menu > .active > a:hover,
.navbar-fixed-side .navbar-nav .dropdown-menu > .active > a:focus {
  border-left: thick solid rgb(252,76,2);
  background-color: white;
  color: #333;
  text-decoration: none;
}

.navbar-fixed-side .dropdown > .dropdown-toggle,
.navbar-fixed-side .dropdown-menu > .dropdown-header {
  margin-left: 22px;
  font-size: 16px;
  text-transform: none;
  color: black !important;
}

.dropdown-toggle::after {
  content: "";
  display: none;
}

.navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
  color: black;
}

/*.sidenav {
  width: 228px;
  margin: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  border-right: 1px solid #e5e5e5;
}*/

/*.sidenav > li > a {
  display: block;
  width: 192px;
  margin: 0;
  padding: 3px 25px;
  border: 0;
  border-left: transparent 4px solid;
  border-right: transparent 4px solid;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.sidenav > li.nav-header > a {
  padding: 5px 15px;
  width: 190px;
  font-weight: 700;
  font-size: 16px;
}

.sidenav > li.nav-header.active > a {
  color: #333;
}

.sidenav > .active > a {
  position: relative;
  z-index: 2;
}

.sidenav > li > a:hover {
  color: #333;
}

.sidenav > li.has-modifications a {
  border-right: #60d060 4px solid;
}

.sidenav > li.is-new a {
  border-left: #e5e5e5 4px solid;
}

.sidenav > li > a:hover, .sidenav > li > a:focus {
  background-color: white;
  color: #333;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
  border-left: thick solid rgb(252,76,2);
  background-color: white;
  color: #333;
}

.sidenav > li.nav-header > a {
  text-transform: none;
  font-weight: normal;
}*/

/* ------------------------------------------------------------------------------------------
 * Tabs
 * ------------------------------------------------------------------------------------------ */

/*.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
  color: #666;
}
.nav-tabs > li > a:hover {
  border-color: #f5f5f5 #f5f5f5 #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #333;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}*/

/*.nav-pills > li {
  float: left;
}*/

.nav-pills > li > a {
  border-radius: 2px;
  color: #F5F5F5;
}
.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills .nav-link.active,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #fc4c02;
}
.nav-pills > li > a:hover {
  background-color: #fc4c02;
}

/*table.parameters {
  border: none;
}

table.parameters tr {
  border-top: 1px solid #E5E5E5;
}

table.parameters tr:first-child {
  border-top: none;
}

table.parameters td {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.parameters td:first-child {
  text-align: right
}

.parameter-description {
  color: #999;
  font-size: 12px;
}*/

.right-pane h4 {
  color: #F5F5F5;
}

.http {
  margin: 14px 0 14px 0;
}

pre.http-method {
  float: left;
  margin: 0 5px 0 0;
  text-transform: uppercase;
  border-radius: .25rem;
}

.http-method-get {
  background-color: #2DAA35;
}

.http-method-delete {
  background-color: #FC1A02;
}

.http-method-put {
  background-color: #FCB802;
}

.http-method-post {
  background-color: #21B5EA;
}

pre.http-request-line {
  margin: 0;
  border-radius: .25rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
